<div class="container"><br>
    <div class="row">
        <!-- Form -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body p-4">
                    <h2>Employee:</h2>
                    <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
                        <input type="hidden" name="_id" [(ngModel)]="selectedEmployee._id"> 
                        <div class="form-group">
                            <input name="name" [(ngModel)]="selectedEmployee.name" type="text" class="form-control" placeholder="Enter your full-name">
                        </div>
                        <div class="form-group">
                            <input name="position" [(ngModel)]="selectedEmployee.position" type="text" class="form-control" placeholder="Enter your position">
                        </div>
                        <div class="form-group">
                            <input name="office" [(ngModel)]="selectedEmployee.office" type="text" class="form-control" placeholder="Enter your office">
                        </div>
                        <div class="form-group">
                            <input name="salary" [(ngModel)]="selectedEmployee.salary" type="number" class="form-control" placeholder="Enter your salary">
                        </div>
                        <div class="d-grid gap-2">
                            <button name="btnSave" class="btn btn-dark" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="col-md-8">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Salary</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  class="table-active" *ngFor="let e of this.allEmployees">
                        <td>{{ e.name }}</td>
                        <td>{{ e.position }}</td>
                        <td>{{ e.office }}</td>
                        <td>{{ e.salary }}</td>
                        <td>
                            <button class="btn btn-warning btn-sm" (click)="editEmployee(e)">Update</button>
                            <button class="btn btn-danger btn-sm" (click)="deleteEmployee(e._id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>